---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.75;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@import "minima";


@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:900,700,400,300,100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300);

body {
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: $text-color;
  display: table;
  margin: 0;
}

.blog {
  width: 60%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.75em;

  h1 {
    margin: 1em 0;
  }

  .title {
      a {
          text-decoration: none;
          color: $text-color;
      }
  }

  @media screen and (max-width: 600px) {
    width: 90%;
  }
}
