@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:900,700,400,300,100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300);

html, body {
  height: 100%;
  width: 100%;
}

.container {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

html {
  background: #046380;
}

body {
  font-family: 'Lato', sans-serif;
  color: white;
  display: table;
  text-align: center;
}

h1 {
  font-size: 4em;
  text-transform: uppercase;
  margin: 0;
}

h1 span {
  color: #E4992B;
}

h2 {
  margin: 0 0 30px 0;
  font-size: 1.3em;
}

h1, h2 {
  font-weight: 100;
}

.social a {
  text-decoration: none;
}

.social a span {
  display: inline-block;
  width: 35px;
  height: 35px;

  margin: 0 7px;
  background-size: cover;
}

.social a:first-child span {
  margin-left: 0;
}

.social a:last-child span {
  margin-right: 0;
}

.linkedin {
  background-image: url('linkedin.png');
}

.github {
  background-image: url('github.png');
}

.email {
  background-image: url('email.png');
}

.facebook {
  background-image: url('facebook.png');
}
