---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Lora|PT+Sant&display=swap');

.wrapper {
  max-width: -webkit-calc(750px - (30px * 2));
  max-width: calc(750px - (30px * 2));
}

.post p, .post ul {
  margin-bottom: 30px;

  li > ul {
    margin-top: 15px;
  }
}

li {
  margin-bottom: 15px;
}

body {
  font-size: 1.20em;
  color: #333;
  line-height: 1.6em;
  font-weight: 400;
  font-family: 'Lora';
  -webkit-font-smoothing: antialiased;
}

.site-title {
  font-family: 'Lora';
}

.site-title:hover {
  text-decoration: none;
}

.site-footer a {
  color: #333;
  font-size: 0.7em;
}

.site-footer .svg-icon {
  padding-right: 0;
}

.site-footer li {
  margin-bottom: 0;
}

.post-list > li {
  margin-bottom: 0;
}

a.post-link, a.post-link {
  color: #333;
  text-decoration: none;
}

.site-header {
  font-family: 'PT Sans';
  border-top: 0px;
  padding-top: 10px;
}

.post-content {
  h1 {
    font-size: 1.75em;
    margin-top: 1.5em;
  }

  h2 {
    font-size: 1.3em;
    margin-top: 1.5em;
  }

  h3 {
    font-size: 1.1em;
    margin-top: 1.0em;
    font-weight: bold;
  }

  .center {
    text-align: center;
  }

  .with-caption {
    margin-bottom: 5px;
  }

  .with-caption + .image-caption {
    color: #3c3c3c;
    text-align: center;
    font-size: 0.85em;
  }

  .tip {
    background: #ffffd9;
    border: 1px dashed #9da02f;
    padding: 10px;
    font-size: 0.85em;
    line-height: 1.3em;
  }
}


#post hr {
  margin-bottom: 1em;
}

#related {
  margin-top: 2em;
  font-size: 0.9em;

  li {
    margin-bottom: 0.5em;
  }
}

.post-list h3 {
  margin-bottom: 0em;
}

h1, h2, h3 {
  font-family: 'PT Sans';
}

.post-meta {
  margin-bottom: 30px;
  font-family: 'PT Sans';

  .date {
    margin-right: 7px;
  }

  .post-tags {
    margin-left: 7px;
    color: #982921;
  }
}

.footer-col-2 {
  width: -webkit-calc(40% - (30px / 2));
  width: calc(40% - (30px / 2));
}

.post #mc_embed_signup form {
  font-family: 'PT Sans';
  padding: 0;
}

.talks {
  font-size: 1.1em;
}
